<%- include("../partials/header") %>
<h1><%= title %></h1>
<a href="/drinks/new">Add New Drink</a>
<ul>

    <% drinks.forEach(d => { %>
        <% if(user) { %>
            <% if (user._id.toString() == d.user.toString()) { %>
            <form action="/drinks/<%= d._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">Delete Drink</button>
            </form>
            <%  } else { %>
            <% } %>
        <li> <%=  d.name %> </li>
        <label>COMMENTS</label>
        <% if(d.comments.length){ %> 
            <% d.comments.forEach(c => { %>
              <li><%= c.content %></li>
           <%  }) %>
        <% } %>
        <li><a href="/drinks/<%= d._id %>">Whats in it??</a> </li>
        <section>
            <form id="add-comment-form" method="POST" action="/drinks/<%= d._id %>/comments">
                <textarea name="content"></textarea>
                <input type="submit" value="Add Comment">
            </form>
        </section>
        <% } %>
    <% }) %>
</ul>
<%- include("../partials/footer") %>